{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Reset Password</title>

    <link
        rel="stylesheet"
        href="{% static 'css/signin.css' %}"
    >

</head>

<body>

<div class="login-container">

    <div class="login-card">

        <h3 style="text-align: center; margin-bottom: 25px;">
            Reset Password
        </h3>


        <!-- DJANGO MESSAGES -->

        {% if messages %}

            {% for message in messages %}

                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>

            {% endfor %}

        {% endif %}


        <!-- FORM ERRORS -->

        {% if form.non_field_errors %}

            <div class="alert error">

                {% for error in form.non_field_errors %}

                    <div>
                        {{ error }}
                    </div>

                {% endfor %}

            </div>

        {% endif %}


        <form method="POST">

            {% csrf_token %}


            <!-- NEW PASSWORD -->

            <div class="form-group">

                <label for="id_new_password">
                    New Password
                </label>

                <input
                    type="password"
                    id="id_new_password"
                    name="new_password"
                    placeholder="Enter new password"
                    required
                    autocomplete="off"
                >

                <div
                    style="
                        margin-top: 8px;
                        color: #666;
                        font-size: 13px;
                        line-height: 1.5;
                    "
                >
                    8+ chars, upper/lower, number &amp; special
                </div>


                {% if form.new_password.errors %}

                    <div class="error-text">

                        {% for error in form.new_password.errors %}

                            <div>
                                {{ error }}
                            </div>

                        {% endfor %}

                    </div>

                {% endif %}

            </div>


            <!-- CONFIRM PASSWORD -->

            <div class="form-group">

                <label for="id_confirm_password">
                    Confirm Password
                </label>

                <input
                    type="password"
                    id="id_confirm_password"
                    name="confirm_password"
                    placeholder="Confirm new password"
                    required
                    autocomplete="off"
                >


                {% if form.confirm_password.errors %}

                    <div class="error-text">

                        {% for error in form.confirm_password.errors %}

                            <div>
                                {{ error }}
                            </div>

                        {% endfor %}

                    </div>

                {% endif %}

            </div>


            <!-- SUBMIT -->

            <button type="submit">
                Reset Password
            </button>

        </form>

    </div>

</div>


<script>

document.addEventListener("DOMContentLoaded", function () {

    const alerts = document.querySelectorAll(".alert");

    alerts.forEach(function (alert) {

        setTimeout(function () {

            alert.style.opacity = "0";

            setTimeout(function () {
                alert.remove();
            }, 500);

        }, 3000);

    });

});

</script>

</body>

</html>